* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #0e141b; */
}

.mainPage {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 0;
    min-height: 100vh;
    max-width: 1400px;
}


.navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    background-color: black;
    align-content: center;
    padding: 20px;
}

.logo {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    background-color: chartreuse;
    text-align: center;
    align-content: center;
}

.logoImage {
    width: 2rem;
    height: 2rem;
}

.navText {
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
}

.navButton {
    color: chartreuse;
    border: solid chartreuse;
    height: 2rem;
    width: 9rem;
    padding-left: 1.5rem;
    padding-right: 0.5ren;
    align-content: center;
    text-align: center;
    border-radius: 15px;
}
