* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
    height: 100%;
    background-size: 100%, 2px 1px, 1px 2px;
}


body {
    /* background-color: #0e141b; */
}

.mainPage {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 0;
    min-height: 100vh;
    max-width: 1400px;
}


.navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    background-color: black;
    align-content: center;
    padding: 20px;
}

.logo {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    background-color: limegreen;
    text-align: center;
    align-content: center;
}

.logoImage {
    width: 2rem;
    height: 2rem;
}

.navText {
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
}

.navButton {
    color: limegreen;
    border: solid limegreen;
    height: 2rem;
    width: 9rem;
    padding-left: 1.5rem;
    padding-right: 0.5ren;
    align-content: center;
    text-align: center;
    border-radius: 15px;
}

.radarSection {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 18rem;
    background-color: rgb(31, 15, 31);
}

.radar,
.sweep {
    position: absolute;
}

.radar {
    overflow: hidden;
    top: 16.5rem;
    left: 12rem;
    margin: -117px;
    width: 248px;
    height: 248px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
        inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
    background:
        repeating-radial-gradient(transparent 0 23px, #287a33 24px 26px, #0000 27px),
        linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(#333, #111);
    background-size: 100%, 218px 218px, 218px 218px, 100%;
}

.sweep {
    box-sizing: border-box;
    top: 16px;
    left: 16px;
    border-right: solid 1px hsla(145, 50%, 40%, .3);
    width: 108px;
    height: 108px;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
    animation: sweep 5s infinite linear;
}

@keyframes sweep {
    to {
        transform: rotate(360deg);
    }
}

.radarNunber {
    color: limegreen;
    font-size: 3rem;
    padding-left: 32rem;
    margin-left: 10rem;
    padding-bottom: 0;
    height: 1rem;
}

.radarText {
    color: gray;
    padding-left: 39rem;
}

#radarNunberOne {
    padding-top: 2.1rem;
}

#radarTextOne {
    padding-top: 3.7rem;
}

#radarTextTwo {
    padding-top: 0.6rem;
}

#radarTextOTwo {
    padding-top: 3.1rem;
}